<div class="navbar">
  <img routerLink="/" src="assets/webshio.png" alt="" class="logo">
  <button *ngIf="isLoggedIn" routerLink="/admin">Mine admini vaatesse</button>
  <div>
    <button *ngIf="!isLoggedIn" routerLink="/logi-sisse">Logi sisse</button>
    <button *ngIf="!isLoggedIn" routerLink="/registreeru">Registreeru</button>
    <button *ngIf="isLoggedIn" (click)="onLogout()">Logi välja</button>
  </div>
  <div>
    <img routerLink="/ostukorv" src="assets/shopping-bag.png" alt="" class="cart-button">
    <div class="sum-cart">{{ sumOfCart }} </div>
  </div>
</div>